@media (min-width:576px) {
  .col-sm-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-top: 10px;
    text-align: center;
    padding-bottom: 10px;
    text-decoration: none;
    color: black;
    margin: 0px;
  }
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  /*padding-left: 15px;*/
  margin-right: auto;
  /*margin-left: auto;*/
  font-family: candara;
  color: black;
  font-weight: bold;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  /*margin-right: -15px;*/
  /*margin-left: 0px;*/
}

@media (min-width:576px) {
  .col-sm-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    background: #f2f3f4;
    border-color: black;
    border-width: 50px;
  }
}

@media (min-width:576px) {
  .col-sm-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
    background-color: #f2f3f4;
  }
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  /*margin-left: auto;*/
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

a {
  color: black;
  text-decoration: none;
  background-color: transparent;
  display: block;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

a:hover {
  color: black;
  text-decoration: none;
  /*padding: 10px;*/
  /*padding-bottom: 10px;*/
}

body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  /*font-family: candara;*/
}

@media (min-width:1200px) {
  .container {
    max-width: 1140px;
    font-family: candara;
  }
}

#iiitact {
  background-color: white;
  border-left: black;
}

.row {
}

@media screen {
  height: 100%;
  /*position: fixed;*/
  /*z-index: 1;*/
  top: 0;
  overflow-x: hidden;
  /*padding-top: 10px;*/
}

#iiitact {
  background-color: white;
  /*border-left: black;*/
}

.breadcrumb {
  display: -ms-flexbox;
  /*display: flex;*/
  /*-ms-flex-wrap: wrap;*/
  /*flex-wrap: wrap;*/
  /*padding: .75rem 1rem;*/
  /*margin-bottom: 1rem;*/
  /*list-style: none;*/
  /*background-color: #e9ecef;*/
  /*border-radius: .25rem;*/
}

.h2, h2 {
  font-size: 2rem;
  padding-top: 20px;
  font-weight: bold;
}

.h4, h4 {
  font-size: 1.5rem;
  padding-top: 10px;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255,255,255,.5);
  /*padding-left: 20px;*/
}

.nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}

ul.breadcrumb li {
  display: inline;
  font-size: 15px;
}

@media (max-width: 768px) {
  .side {
    display: none;
  }
}

thead {
  text-align: center;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 500;
}

tr {
  font-weight: 500;
}

.block {
  margin: 0px;
  padding: 10px;
}

.block:hover {
  background-color: rgb(221,221,221);
}

#active {
  color: black;
  background-color: rgb(221,221,221);
  text-decoration: none;
  border-left: 5px solid rgb(25,0,86);
}

.side {
}

.col-sm-2.col-xs-2.col-md-2.col-lg-2.col-xl-2 {
  /*position: fixed;*/
  background-color: #f2f3f4;
  margin: 0;
  padding: 0;
  text-align: center;
}

